<h1>Dinopost Feed!</h1>

<ul>
  <% @dinoposts.each do |dinopost| %>
    <li>
      <%= link_to dinopost.title, dinopost %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Make a dinopost!", new_dinopost_path %>
</div>
