<h1>Dinopost Feed!</h1>

Dinogram has <%= Dinopost.public_count %> Dinoposts and counting!

<ul>
  <% @dinoposts.each do |dinopost| %>
    <% unless dinopost.archived? %>
      <li>
        <%= link_to dinopost.title, dinopost %>
      </li>
   <% end %>
  <% end %>
</ul>

<div>
  <%= link_to "Make a dinopost!", new_dinopost_path %>
</div>
